<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ร้านแก้วอลูมินั่ม</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    </head>
    <body>
       <%- include('navbar')%>
       <header class="bg-secondary text-white py-5">
        <div class="container">
          <h1 class="display-4">คลังภาพเพิ่มเติม</h1>
          <p class="lead">This is a simple example of a Bootstrap 5 header section with a title and description.</p>
        </div>
      </header>


      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="image1.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <p class="card-text">Image 1 description</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="image2.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <p class="card-text">Image 2 description</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="image3.jpg" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <p class="card-text">Image 3 description</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="image4.jpg" class="card-img-top" alt="Image 4">
              <div class="card-body">
                <p class="card-text">Image 4 description</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="image5.jpg" class="card-img-top" alt="Image 5">
              <div class="card-body">
                <p class="card-text">Image 5 description</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="image6.jpg" class="card-img-top" alt="Image 6">
              <div class="card-body">
                <p class="card-text">Image 6 description</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('footer')%>