
<footer class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>ข้อมูลติดต่อ</h5>
          <ul class="list-unstyled">
            <li>Email: bewtnwza@gmail.com</li>
            <li>เบอร์โทร: 098-242-2261</li>
            <li>ที่อยู่: 188/41 ม.4 ม.สุวรรณภูมิ ถ.เทพารักษ์ ต.บางพลีใหญ่ อ.บางพลี จ.สมุทรปราการ 10540</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>About Us</h5>
          <ul class="list-unstyled">
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
                <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <a href="https://www.facebook.com/yourpagename" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" width="38" height="38" alt="Facebook"></a>
                      </div>
                      <div class="col-md-4">
                        <a href="https://line.me/ti/p/@yourusername" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/LINE_logo.svg/768px-LINE_logo.svg.png" width="38" height="38" alt="Line"></a>
                      </div>
                      <div class="col-md-4">
                        <a href="https://www.google.com/maps/place/your business name" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Google_Maps_icon_%282015-2020%29.svg/2048px-Google_Maps_icon_%282015-2020%29.svg.png" width="38" height="38" alt="Google Maps"></a>
                      </div>
                    </div>
                  </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <p class="text-center">Copyright ©2022 My Website</p>
        </div>
      </div>
    </div>
  </footer>
  